<div class="container">
    <h1>Faire un envoie</h1>
    <a href="#" routerLink="/envoies" class="btn btn-primary">Back</a>
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="montant">Montant:</label>
            <input formControlName="montant" id="montant" type="number" class="form-control">
            <div *ngIf="f.montant.touched && f.montant.invalid" class="alert alert-danger">
                <div *ngIf="f.montant.errors.required">Montant obligatoire</div>
            </div>
        </div>

        <div class="form-group">
            <label for="prenomEme">Prenom Emetteur:</label>
            <input formControlName="prenomEme" id="prenomEme" type="text" class="form-control">
            <div *ngIf="f.prenomEme.touched && f.prenomEme.invalid" class="alert alert-danger">
                <div *ngIf="f.prenomEme.errors.required">Prenom obligatoire</div>
            </div>
        </div>

        <div class="form-group">
            <label for="nomEme">Nom Emetteur:</label>
            <input formControlName="nomEme" id="nomEme" type="text" class="form-control">
            <div *ngIf="f.nomEme.touched && f.nomEme.invalid" class="alert alert-danger">
                <div *ngIf="f.nomEme.errors.required">Nom obligatoire</div>
            </div>
        </div>

        <div class="form-group">
            <label for="telephoneEme">Telephone Emetteur:</label>
            <input formControlName="telephoneEme" id="telephoneEme" type="text" class="form-control">
            <div *ngIf="f.telephoneEme.touched && f.telephoneEme.invalid" class="alert alert-danger">
                <div *ngIf="f.telephoneEme.errors.required">Telephone obligatoire</div>
            </div>
        </div>

        <div class="form-group">
            <label for="cni">CNI Emetteur:</label>
            <input formControlName="cni" id="cni" type="text" class="form-control">
            <div *ngIf="f.cni.touched && f.cni.invalid" class="alert alert-danger">
                <div *ngIf="f.cni.errors.required">CNI obligatoire</div>
            </div>
        </div>

        <div class="form-group">
            <label for="prenomRec">Prenom Recepteur:</label>
            <input formControlName="prenomRec" id="prenomRec" type="text" class="form-control">
            <div *ngIf="f.prenomRec.touched && f.prenomRec.invalid" class="alert alert-danger">
                <div *ngIf="f.prenomRec.errors.required">Prenom obligatoire</div>
            </div>
        </div>

        <div class="form-group">
            <label for="nomRec">Nom Recepteur:</label>
            <input formControlName="nomRec" id="nomRec" type="text" class="form-control">
            <div *ngIf="f.nomRec.touched && f.nomRec.invalid" class="alert alert-danger">
                <div *ngIf="f.nomRec.errors.required">Nom obligatoire</div>
            </div>
        </div>

        <div class="form-group">
            <label for="telephoneRec">Telephone Emetteur:</label>
            <input formControlName="telephoneRec" id="telephoneRec" type="text" class="form-control">
            <div *ngIf="f.telephoneRec.touched && f.telephoneRec.invalid" class="alert alert-danger">
                <div *ngIf="f.telephoneRec.errors.required">Telephone obligatoire</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>

    </form>

</div>